@model List<Test.Models.UserProfile>

@using (Ajax.BeginForm("FilterAndSort", "User", new AjaxOptions {
    HttpMethod = "GET",
    UpdateTargetId = "Users",
    InsertionMode = InsertionMode.Replace }))
{
    <label for="city">Фільтр по місту</label>
    @Html.DropDownList("city", new SelectList(ViewBag.Cities),
        string.Empty, new { onchange = "this.form.submit();" })

    <label for="ageOrder">Сортування за віком</label>
    @Html.DropDownList("ageOrder", new SelectListItem[] {
            new SelectListItem { Text = "Спочатку старші", Value = "desc" },
            new SelectListItem { Text = "Спочатку молодші", Value = "asc" } },
        string.Empty, new { onchange = "this.form.submit();" })
}

<table border="1" width="450" style="margin-top:20px;" id="Users">
    <thead>
        <tr>
            <td><strong>Ім'я</strong></td>
            <td><strong>Місто</strong></td>
            <td><strong>Вік</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Age</td>
            </tr>
        }
    </tbody>
</table>
